#timeTable {
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(10px);
}

#timeTable td, #timeTable th {

    padding: 5px;
    text-align: center;
}

#deleteButton {
    color: #ffffffff; /* white */
    font-family: 'Noto Sans', sans-serif;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.267);
    backdrop-filter: blur(10px);
}